$dark-blue-intro: hsl(217, 28%, 15%)
$dark-blue-main: hsl(218, 28%, 13%)
$dark-blue-footer: hsl(216, 53%, 9%)
$dark-blue-test: hsl(219, 30%, 18%)

$cyan: hsl(176, 68%, 64%)
$blue: hsl(198, 60%, 50%)
$light-red: hsl(0, 100%, 63%)

$white: hsl(0, 0%, 100%)

$raleway: 'Raleway', 'sans-serif'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-size: 14px
    font-family: 'Open Sans', 'sans-serif'
    background-color: $dark-blue-main
    color: $white
    line-height: 1.5em


// Utility Classes
.container
    margin: 0 2em

.flex-center-col
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

@media (min-width: 768px)
    .container
        margin: 0 4em

// Header
header
    background-color: $dark-blue-intro
    background-image: url(../images/bg-curvy-mobile.svg)
    background-size: contain
    background-repeat: no-repeat
    background-size: 900px
    background-position: 50% 100%
@media (min-width: 700px)
    header
        background-image: url(../images/bg-curvy-desktop.svg)
        background-size: 2000px
        background-position: 150% 160%
nav
    padding-top: 3em
    display: flex
    justify-content: space-between
    align-items: center

.logo img
    height: auto
    width: 100px

.nav-links
    display: flex
    gap: 2em
    a
        color: lightgray
        text-decoration: none
    a:hover
        color: $white
        text-decoration: underline
.hero-display
    margin-top: 5em
    padding: 0 .5em
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 2em
    
    img
        width: 100%
        max-width: 700px
    h1, p
        text-align: center
    
    .call-to-action
        background: linear-gradient(to right, $cyan, $blue)
        padding: 1em 4em
        border-radius: 2em
        color: $white
        text-decoration: none

// Main
.features
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 5em
    gap: 2em
.feature
    gap: 2em
.feature-info
    gap: 1em
    text-align: center
    span
        font-family: $raleway
        font-weight: 700
        font-size: 1.3em
    p
        width: 100%
        max-width: 400px
@media (min-width: 900px)
    .features
        padding: 0 10em
        display: grid
        grid-template-columns: repeat(2, 1fr)
        justify-items: center
// Productive
.productive
    width: 100%
    margin-top: 10em
    gap: 2em
    .productive-img img
        padding: 0 1em
        width: 100%
        max-width: 600px
    
    .productive-info
        gap: 1em
        align-items: start

    span
        font-family: $raleway
        font-weight: 700
        font-size: 1.3em
    p
        width: 100%
        max-width: 400px
    
    a
        color: $cyan
        text-decoration: none
        padding-bottom: .5em
        border-bottom: 1px solid $cyan
        display: flex

        img
            margin-left: .3em
            height: auto
            width: 20px

@media (min-width: 1100px)
    .productive
        flex-direction: row
        gap: 7em

        span
            font-size: 2em

// Testimonials
.testimonials
    margin-top: 10em
    gap: 2em

.quote
    position: relative

.quote:after
    position: absolute
    top: 0
    left: 0
    content: url('../images/bg-quotes.png')
    z-index: -1
    transform: translate(10px, -35px)

.testimonial
    background-color: $dark-blue-test
    padding: 3em
    align-items: start
    gap: 1em
    width: 100%
    max-width: 400px
    border-radius: 1em
    
    .author
        flex-direction: row
        gap: 1em
    
    img
        height: auto
        width: 40px
        border-radius: 2em
    
    .author-bio
        align-items: start
         
        p
            font-size: .7em
    
    span
        font-weight: 700

@media (min-width: 1100px)
    .testimonials
        flex-direction: row