$dark-blue-intro: hsl(217, 28%, 15%)
$dark-blue-main: hsl(218, 28%, 13%)
$dark-blue-footer: hsl(216, 53%, 9%)
$dark-blue-test: hsl(219, 30%, 18%)

$cyan: hsl(176, 68%, 64%)
$blue: hsl(198, 60%, 50%)
$light-red: hsl(0, 100%, 63%)

$white: hsl(0, 0%, 100%)

$raleway: 'Raleway', 'sans-serif'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-size: 14px
    font-family: 'Open Sans', 'sans-serif'
    background-color: $dark-blue-main


// Utility Classes
.container
    margin: 0 2em

@media (min-width: 768px)
    .container
        margin: 0 4em


// Header
nav
    margin-top: 3em
    display: flex
    justify-content: space-between
    align-items: center

.logo img
    height: auto
    width: 100px

.nav-links
    display: flex
    gap: 1em
    a
        color: lightgray
        text-decoration: none
    a:hover
        color: $white
        text-decoration: underline
    